@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Roboto:wght@900&display=swap');


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.center{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
}

.main{
  padding: 20px 0;
  width: 100%;
  background-color: #393939;
}
.menu{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.logo{
  display: flex;
  flex-direction: row;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.trans{
  color: white;
}
.pedro{
  color: #2abdfd;
}

.menu a{
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 3px 8px;
  border-radius: 5px;
}


.primeiro-container {
  background-image: url(./public/primeiro-entregador.jpg);
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
